.container {
  max-width: 1440px;
  padding: 0 40px;
}
.calculate {
  padding: 60px 0;
}
body {
  font-family: "Nunito Sans";
  background: var(--BG, #F5F7FA);
}
.calculate__title {
  color: var(---800, #282727);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 124%; /* 49.6px */
  text-transform: uppercase;
}
.calculate__subtitle {
  margin-top: 8px;
  color: var(---700, #3f3f3e);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%; /* 24.3px */
  text-transform: uppercase;
}
.calculate__wrapper{
  margin-top: 32px;
  display: flex;
  gap: 20px;
}